[Unit]
Description=ipmi exporter  service

[Service]
ExecStart=/usr/bin/ipmi_exporter --config.file=/etc/prometheus/ipmi_exporter.yml 
Restart=always
RestartSec=2s
StartLimitInterval=0
KillMode=process
[Install]
WantedBy=multi-user.target
